.contactsPageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    transition:0.3s;
    .contactsElement {
        box-shadow: 8px 8px 10px 8px var(--color-shadow);
        padding:25px;
        border-radius:12px;
        transition:0.3s;
        .icon {
            padding: 10px;
            border-radius: 50%;
            background-color:var(--color-border);
            color:var(--background-body);
            transition:0.3s;
        }
    }
    .messageForm{
        transition:0.3s;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:10px;
        .messageInput {
            grid-column: 1/4;
            transition:0.3s;
        }
        .button {
            grid-column: 3/4;
            transition:0.3s;
        }
    }
}