.header {
    display: flex;
    justify-content:space-around;
    border: 3px solid var(--color-border);
    border-radius:12px;
    width:75%;
    margin-top:10px;
    .headerLinks {
        display: flex;
        align-items: center;
        gap:20px;
        .active {
            background-color: var(--color-hover);
            color:var(--color-border) !important;
            transition:0.3s;
        }
        .headerLink {
            text-decoration: none;
            color:var(--color-text);
            font-size:18px;
            padding:5px;
            border-radius: 6px;
            transition:0.3s;
            &:hover {
                color:var(--color-border);
                transition:0.3s;
                background-color:var(--color-hover);
            }
        }
    }
}