.favoritesPageWrapper {
  padding: 2rem;
  max-width: 1400px;
  margin: 0 auto;
}

.pageTitle {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: var(--color-text);
}

.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.5rem;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}