.categoryCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
    background-color:var(--color-text);
    transition: 0.3s;
    border-radius:12px;
    .image {
        max-width:200px;
        transition: 0.3s;
    };
    .name {
        color:var(--color-hover);
        transition: 0.3s;
    }
}