:root {
  --color-text: #111827;
  --color-border: #1E3A8A;
  --color-input-text: #111827;
  --color-hover: whitesmoke;
  --background-body: white;
  --color-shadow:rgba(0, 0, 0, 0.33);;
}

body {
  color: var(--color-text);
  background-color: var(--background-body);
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s, color 0.3s; // плавный переход
}

// Тёмная тема
body.dark {
  --color-text: #f0f0f0;
  --color-border: #3b82f6;
  --color-hover: #333;
  --background-body: #121212;
  --color-shadow: rgba(255, 255, 255, 0.33);
}
.ant-form-item-label > label {
  color: var(--color-text) !important;
  transition:0.3s;
}

.ant-input {
  color: var(--color-input-text) !important;
  border-color: var(--color-border) !important;
  transition:0.3s;

  &::placeholder {
    color: var(--color-text) !important;
    transition:0.3s;
  }
}
.ant-btn-default {
  color: var(--color-text);
  border-color: var(--color-border);
  transition: 0.3s;

  &:hover,
  &:focus {
    color: var(--color-hover);
    border-color: var(--color-hover);
  }
}